body {
    margin: 5;
    }
    
    .header{
    border: 1px solid black;
    text-align: center;
    width: 100%;  
    }
    
    .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    }
    
    .container-half {
    border: 1px solid black;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
    flex-direction: row;
    }
    
    .tab {
    text-align: right;
    background-color: gray;
    padding: 5px;
    margin-bottom: 0;
    }
    .Placeholder {
    box-sizing: border-box;
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    flex-direction: row;
    padding-left: 15px;
    margin-bottom: 0;
    }
    p {
    padding-left: 15px;
    padding-right: 15px;
    }
    @media (max-width: 600px){
        .container-half {
            border: 1px solid black;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            justify-content: space-between;
            flex-direction: row;
            }
    }